<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div id="container">
  <div th:replace="fragments/header :: header"></div>
  <content>
    <div id="feedback">
      <div class="feedback-form surface base">
        <form action="#" th:action="@{/feedbackRequest}" th:object="${feedback}" method="post">
          <div class="field-container">
            <select class="body2" th:field="*{respondentId}">
              <option value="">Request from...</option>
              <th:block th:each="user : ${userMap}">
                <option th:text="${user.value}" th:value="${user.key}"></option>
              </th:block>
            </select>&nbsp;
            <div class="body1 secondary">Hello! I am requesting your feedback because...</div>
            <textarea class="body2" th:field="*{message}"></textarea>
          </div>
          <div class="actions">
            <button class="button secondary outline">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </content>
</div>
</body>
</html>
